/*
    DJANGO Admin styles
*/

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
}

/* LINKS */

a:link, a:visited {
    color: #5b80b2;
    text-decoration: none;
}

a:hover {
    color: #036;
}

a img {
    border: none;
}

a.section:link, a.section:visited {
    color: white;
    text-decoration: none;
}

/* GLOBAL DEFAULTS */


h1,h2,h3,h4,h5 {
    font-weight: bold;
}

h1 {
    font-size: 18px;
    color: #666;
    padding: 0 6px 0 0;
    margin: 0 0 .2em 0;

}




/* TEXT STYLES & MODIFIERS */

p img, h1 img, h2 img, h3 img, h4 img, td img {
    vertical-align: middle;
}

.clear {
    clear: both;
}


/* TABLES */

table {
    border-collapse: collapse;
    border-color: #ccc;
}

/* SORTABLE TABLES */

thead th a:link, thead th a:visited {
    color: #666;
    display: block;
}

table thead th.sorted {
    background-position: bottom left !important;
}

table thead th.sorted a {
    padding-right: 13px;
}

table thead th.ascending a {
    background: url(../img/admin/arrow-down.gif) right .4em no-repeat;
}

table thead th.descending a {
    background: url(../img/admin/arrow-up.gif) right .4em no-repeat;
}




/* PAGE STRUCTURE */

#container {
    position: relative;
    width: 100%;
    min-width: 760px;
    padding: 0;
}

#content {
    margin: 10px 15px;
}

#header {
    height:56px;
    width: 100%;
}


#footer {
    clear: both;
    padding: 10px;
}


/* HEADER */

#header {
    background: #417690;
    color: #ffc;
    overflow: hidden;
}

#header h1{
    font-weight:normal;
    color: #f4f379;
    margin: 15px 10px;
}
#header a:link, #header a:visited {
    color: #ffc;
}

#header a:hover {
    text-decoration: underline;
}


.menu {
    background: #eee url(../../admin/img/admin/nav-bg.gif) bottom left repeat-x;
    padding-left:20px;
    font-size: 16px;
    font-weight: normal;
}
.menu li{
    color: #666666;
    float:left;
    list-style: none;
}
.menu a:active,.menu a:visited, .menu a{
    margin-right: 10px;
    color: #666666;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    text-transform: capitalize;
}
.menu a:hover{
    font-weight: bolder;
}
.history {
    text-align: center;
    background: #eee url(../../admin/img/admin/nav-bg2.gif) bottom left repeat-x;
    font-size: 14px;
    font-weight: normal;
    margin-left: 235px;
    margin-top: -54px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 145px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright: 10px;
    border-radius: 9px 9px 0px 0px;
}
.history li{
    color: #666666;
    float:left;
    list-style: none;
}
.history a:active,history a:visited, history a{
    color: #666666;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    text-transform: capitalize;
}
.history a:hover{
    font-weight: bolder;
}
.logout {
    text-align: center;
    background: #eee url(../../admin/img/admin/nav-bg2.gif) bottom left repeat-x;
    font-size: 13px;
    font-weight: normal;
    margin-top: -54px;
    margin-left: 380px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50px;
    float: left;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright: 10px;
    border-radius: 9px 9px 0px 0px;
}
.logout li{
    color: #666666;
    float:left;
    list-style: none;
}
.logout a:active,history a:visited, history a{
    margin-right: 10px;
    color: #666666;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    text-transform: capitalize;
}
.logout a:hover{
    font-weight: bolder;
}
/* MODULES */

.module {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background: white;
}

.module p, .module ul, .module h3, .module h4, .module dl, .module pre {
    padding-left: 10px;
    padding-right: 10px;
}

.module blockquote {
    margin-left: 12px;
}

.module ul, .module ol {
    margin-left: 1.5em;
}

.module h3 {
    margin-top: .6em;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    background: #7CA0C7 url(../../admin/img/admin/default-bg.gif) top left repeat-x;
    color: white;
}

.module table {
    border-collapse: collapse;
}

/* FORM ROWS */

.form-row {
    overflow: hidden;
    padding: 8px 12px;
    font-size: 11px;
    border-bottom: 1px solid #eee;
}

.form-row img, .form-row input {
    vertical-align: middle;
}

form .form-row p {
    padding-left: 0;
    font-size: 11px;
}

/* FORM LABELS */

form h4 {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

label {
    font-weight: normal !important;
    color: #666;
    font-size: 12px;
}

.required label, label.required {
    font-weight: bold !important;
    color: #333 !important;
}


/* ALIGNED FIELDSETS */

.aligned label {
    display: block;
    padding: 3px 10px 0 0;
    float: left;
    width: 8em;
}

.aligned ul label {
    display: inline;
    float: none;
    width: auto;
}

form .aligned p, form .aligned ul {
    margin-left: 7em;
    padding-left: 30px;
}

form .aligned table p {
    margin-left: 0;
    padding-left: 0;
}

form .aligned p.help {
    padding-left: 38px;
}

fieldset .field-box {
    float: left;
    margin-right: 20px;
}

/* WIDE FIELDSETS */

.wide label {
    width: 15em !important;
}

form .wide p {
    margin-left: 15em;
}

form .wide p.help {
    padding-left: 38px;
}

/* COLLAPSED FIELDSETS */

fieldset.collapsed * {
    display: none;
}

fieldset.collapsed h2, fieldset.collapsed {
    display: block !important;
}

fieldset.collapsed h2 {
    background-image: url(../../admin/img/admin/nav-bg.gif);
    background-position: bottom left;
    color: #999;
}

fieldset.collapsed .collapse-toggle {
    background: transparent;
    display: inline !important;
}

/* MONOSPACE TEXTAREAS */

fieldset.monospace textarea {
    font-family: "Bitstream Vera Sans Mono",Monaco,"Courier New",Courier,monospace;
}
/* SUBMIT ROW */

/*.submit-row {
    padding: 5px 7px;
    text-align: left;
    background: white url(../../admin/img/admin/nav-bg.gif) 0 100% repeat-x;
    border: 1px solid #ccc;
    margin: 5px 0;
    overflow: hidden;
}

.submit-row input {
    margin: 0 0 0 5px;
}

.submit-row p {
    margin: 0.3em;
}*/

.submit-row {
    padding: 5px 7px;
    text-align: right;
    background: white url(/static/admin/img/admin/nav-bg.gif) 0 100% repeat-x;
    border: 1px solid #ccc;
    margin: 5px 0;
    overflow: hidden;
}

.submit-row input {
    margin: 0 0 0 5px;
}

.submit-row p {
    margin: 0.3em;
}

.submit-row p.deletelink-box {
    float: left;
}
.submit-row .submit{
    border: 2px solid #5b80b2;
    background: #7CA0C7 url(../img/admin/default-bg.gif) bottom repeat-x;
    font-weight: bold;
    color: white;
    float: left;
}

.submit-row .deletelink {
    background: url(/static/admin/img/admin/icon_deletelink.gif) 0 50% no-repeat;
    border: none;
    padding-top: 5px;
    padding-left: 14px;
    float:right;
}


/* CALENDARS & CLOCKS */

.calendarbox, .clockbox {
    margin: 5px auto;
    font-size: 11px;
    width: 16em;
    text-align: center;
    background: white;
    position: relative;
}

.clockbox {
    width: auto;
}

.calendar {
    margin: 0;
    padding: 0;
}

.calendar table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    background: white;
    width: 99%;
}

.calendar caption, .calendarbox h2 {
    margin: 0;
    font-size: 11px;
    text-align: center;
    border-top: none;
}

.calendar th {
    font-size: 10px;
    color: #666;
    padding: 2px 3px;
    text-align: center;
    background: #e1e1e1 url(../img/admin/nav-bg.gif) 0 50% repeat-x;
    border-bottom: 1px solid #ddd;
}

.calendar td {
    font-size: 11px;
    text-align: center;
    padding: 0;
    border-top: 1px solid #eee;
    border-bottom: none;
}

.calendar td.selected a {
    background: #C9DBED;
}

.calendar td.nonday {
    background: #efefef;
}

.calendar td.today a {
    background: #ffc;
}

.calendar td a, .timelist a {
    display: block;
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
    color: #444;
}

.calendar td a:hover, .timelist a:hover {
    background: #5b80b2;
    color: white;
}

.calendar td a:active, .timelist a:active {
    background: #036;
    color: white;
}

.calendarnav {
    font-size: 10px;
    text-align: center;
    color: #ccc;
    margin: 0;
    padding: 1px 3px;
}

.calendarnav a:link, #calendarnav a:visited, #calendarnav a:hover {
    color: #999;
}

.calendar-shortcuts {
    background: white;
    font-size: 10px;
    line-height: 11px;
    border-top: 1px solid #eee;
    padding: 3px 0 4px;
    color: #ccc;
}

.calendarbox .calendarnav-previous, .calendarbox .calendarnav-next {
    display: block;
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    background: #C9DBED url(../img/admin/default-bg.gif) bottom left repeat-x;
    padding: 1px 4px 2px 4px;
    color: white;
}

.calendarnav-previous:hover, .calendarnav-next:hover {
    background: #036;
}

.calendarnav-previous {
    top: 0;
    left: 0;
}

.calendarnav-next {
    top: 0;
    right: 0;
}

.calendar-cancel {
    margin: 0 !important;
    padding: 0;
    font-size: 10px;
    background: #e1e1e1 url(../img/admin/nav-bg.gif) 0 50% repeat-x;
    border-top: 1px solid #ddd;
}

.calendar-cancel a {
    padding: 2px;
    color: #999;
}

ul.timelist, .timelist li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.timelist a {
    padding: 2px;
}

.error{

    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-color: #cc0000;
    border-left-color: #cc0000;
    border-bottom-color: #cc0000;
    border-top-color: #cc0000;
    background: #eee url(../../admin/img/admin/nav-bg2.gif) bottom left repeat-x;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}
.error pre{
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 16px;
    margin-left: 5px;
}

.hlogout {
    text-align: center;
    background: #eee url(../../admin/img/admin/nav-bg2.gif) bottom left repeat-x;
    font-size: 13px;
    font-weight: normal;
    margin-top: -62px;
    margin-left: 380px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50px;
    float: left;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright: 10px;
    border-radius: 9px 9px 0px 0px;
}
.hlogout li{
    color: #666666;
    float:left;
    list-style: none;
}
.hlogout a:active,history a:visited, history a{
    margin-right: 10px;
    color: #666666;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    text-transform: capitalize;
}
.hlogout a:hover{
    font-weight: bolder;
}
.equipOverlay{
    position: absolute;
    z-index:196;
    left: 340px;
    margin-top: -20px;
    visibility: hidden;
    background: white 0 100% repeat-x;
    border: 1px solid #ccc;

}
.equipOverlay td{
    padding: 2px;

}
.equipOverlay th{
    padding: 5px;
    font-size: +2;
    text-align: left;
}
.equipOverlay2{
    position: absolute;
    z-index:197;
    left: 340px;
    margin-top: -20px;
    visibility: hidden;
    background: white 0 100% repeat-x;
    border: 1px solid #ccc;

}
.equipOverlay2 td{
    padding: 2px;

}
.equipOverlay2 th{
    padding: 5px;
    font-size: +2;
    text-align: left;
}
.equipOverlay3{
    position: absolute;
    z-index:198;
    left: 340px;
    margin-top: -20px;
    visibility: hidden;
    background: white 0 100% repeat-x;
    border: 1px solid #ccc;

}
.equipOverlay3 td{
    padding: 2px;

}
.equipOverlay3 th{
    padding: 5px;
    font-size: +2;
    text-align: left;
}
.equipOverlay4{
    position: absolute;
    z-index:199;
    left: 340px;
    margin-top: -20px;
    visibility: hidden;
    background: white 0 100% repeat-x;
    border: 1px solid #ccc;

}
.equipOverlay4 td{
    padding: 2px;

}
.equipOverlay4 th{
    padding: 5px;
    font-size: +2;
    text-align: left;
}

.equipSearch{
    position: absolute;
    z-index:196;
    left: 340px;
    margin-top: -20px;
    visibility: hidden;
    background: white 0 100% repeat-x;
    border: 1px solid #ccc;
}
.equipSearch td{
    padding: 2px;
}
.equipSearch th{
    padding: 5px;
    font-size: +2;
    text-align: left;
}


.back {
    border:2px ridge #000000;
    -moz-border-radius:5px;
    padding:5px;
    text-decoration:none;
    color:#000000;
    font-weight:bolder;
    border-radius: 5px 5px 5px 5px;
}
.back:hover{ border-style:solid; }

.entryHead{
    background-color: #7ca0c7;
    color: #FFFFFF;
    font-size: 14px;
    padding: 0px;
    text-align: center;
    margin: 0px;
}
.entryUnderHead{
    background-color: #e1e1e1;
    color: #000000;
    font-size: small;
}

.entryTD {
    padding: 5PX;
    font-weight: bold;
}
.entryTD:hover{
    background-color:#5b80b2;
    color: #FFFFFF;
    font-weight: bold;

}
.entrySearch{
    background-color: #e1e1e1;
    color: #000000;
    font-size: small;
}

.entryCancel{
    background-color: #e1e1e1;
    color: #aaaaaa;
    font-size: 10px;
    text-align: center;
    padding: 0px;
    height: 10px;
}
.errorBackButton{
    border:2px ridge #cc0000;
    -moz-border-radius:5px;
    padding:5px;
    text-decoration:none;
    color:#000000;
    font-weight:bolder;
    border-radius: 5px 5px 5px 5px;
}
.errorBackButton:hover{ border-style:solid; }

.equipHead{
    background-color: #417690;
    color: #ffffff;
    font-size: 17px;
    border-right-style: inset;
    border-left-style: inset;
    border-bottom-style: inset;
    border-top-style: inset;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
}
.equipHead th{
    padding: 5px;
    min-width: 50px;
}
