{% extends "base.html" %}

{% block title %}Kalendar{% endblock %}


{% block content %}
<style type="text/css">
    h1{  margin-left:270px;}
    .tab {margin:30px;}
    .month { width: 80px; float: left;margin: 2px; padding: 3px;
             border:2px ridge #000000; -moz-border-radius:5px; padding:5px; text-decoration:none; color:#000000;}
    .month:hover{ border-style:solid; }
    .month a { text-decoration: none; margin: 4px; color:#000000;}
    .month a:visited {text-decoration: none; margin: 4px; color:#000000; }
    .clear { clear: both; }
    .current {width: 80px; float: left; margin: 2px; padding: 3px; background: #eeeec8;
              border:2px ridge #000000; -moz-border-radius:5px; padding:5px; text-decoration:none; color:#000000; font-weight:bolder;}
    .current a { text-decoration: none; margin: 4px; color:#000000; }
    .current a:visited {text-decoration: none; margin: 4px; color:#000000; }
    .current:hover{ border-style:solid; }
</style>
<title>Add entry | B110 Booking Software</title>

<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/Users/Yannic/PycharmProjects/bookingCal/static/admin/css/ie.css" /><![endif]-->

<!--<script type="text/javascript" src="../../../jsi18n/"></script>-->
<script type="text/javascript" src="/booking/static/admin/js/core.js"></script>
<script type="text/javascript" src="/booking/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/booking/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/booking/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/booking/static/admin/js/actions.min.js"></script>
<script type="text/javascript" src="/booking/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/booking/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript">

	function loseFocus()
	{ 
		document.getElementById("id_date_0").blur();
		document.getElementById("id_enddate_0").blur();
	}
	function switchTime(frm)
	{
		if(frm.date_1.value > "24:00")
			alert("The Day has only 24 hours!")
		else if(frm.date_1.value == "24:00")
			frm.date_1.value = "00:00"

		if(frm.enddate_1.value > "24:00")
			alert("The Day has only 24 hours!")
		else if(frm.enddate_1.value == "24:00")
                        frm.enddate_1.value = "00:00"
	}
	function checkDate(frm)
	{
		if(frm.date_0.value == "2012-04-10")
			alert("Das war schon!")
	}
</script>
<div id="content">

    <h1>Add entry</h1>
    <div id="content-main">
        <form action="/booking/kalendar/new/dbadd/" method="post" accept-charset="utf-8" id="entry_form">{% csrf_token %}
            <div style='display:none'>
                <input type='hidden' name='csrf'  /></div>
            <div>

                {% if error_message %}
                <div class="error">
                    <table>
                        <tr>
                            <td>
                                <img src="/booking/static/main/symbol-error.png" height="50px;">
                            </td>
                            <td>
                                <pre>{{ error_message }} </pre>
                                <br/>


                            </td>
                        </tr>
                    </table>
                </div>
                <a href="javascript:history.back()" class="errorBackButton">Go back</a>
                {% else %}

                <fieldset class="module aligned ">
                    <h2>Equipment
                                               </h2>
                    <div class="form-row equipment">
                        <div>
                            <label for="id_equipment" class="required">Equipment:</label>
                            <input type="text" name="equipment_name" id="id_equipment_name" disabled />
                            <a href="javascript:showEquiptments('overLay')" class="related-lookup" id="lookup_id_equipment">
                                <img src="/booking/static/admin/img/admin/selector-search.gif" width="16" height="16" alt="Lookup" /></a>
                            <div class="equipOverlay" id="overLay">
                                <table>
                                    <tr class="entryHead">
                                        <td colspan="3"><b>Choose a Equipment</b></td>
                                    </tr>
                                    <tr class="entryUnderHead">
                                        <th>Name</th>
                                        <th>Room</th>
                                        <th>Description</th>

                                    </tr>

                                    {% for entry in entries %}

                                    <tr id="entryTD" class="entryTD" onclick="setEquiptment({{ entry.id }},'{{ entry.name }}','overLay','id_equipment','id_equipment_name')" style="cursor:pointer">
                                        <td>{{ entry.name }}</td>
                                        <td>{{ entry.room }}</td>
                                        <td>{{ entry.desc }}</td>
                                    </tr>

                                    {% empty %}
                                    <tr>
                                        <td colspan="3">no Entry   </td>
                                    </tr>

                                    {% endfor %}
                                    <tr class="entryCancel"  >
                                        <td colspan="3" onclick="cancelOverlay('overLay')" ><b style="cursor:pointer">Cancel</b></td>
                                    </tr>
                                </table>

                            </div>
                            <input type="text" name="equipment" id="id_equipment" />
                        </div>
                    </div>
                                    </fieldset>
                <fieldset class="module aligned ">
                    <h2>Date information</h2>
                    <div class="form-row date">
                        <div>
                            <label for="id_date_0" class="required">Date:</label>
                            <p class="datetime">Date: <input name="date_0" class="vDateField" id="id_date_0" size="10" style="background:#F0F0F0" type="text" onchange="checkDate(this.form)" onclick="loseFocus()">

                                <br>Time: <input name="date_1" id="id_date_1" class="vTimeField"  size="8" type="text" onblur="switchTime(this.form)" /> example: 09:00 or 21:00</p>
                        </div>
                    </div>
                    <div class="form-row enddate">
                        <div>
                            <label for="id_enddate_0" class="required">Enddate:</label>
                            <p class="datetime">Date: <input id="id_enddate_0" class="vDateField" name="enddate_0" size="10" style="background:#F0F0F0" type="text" readonly onclick="loseFocus()">

                                <br>Time: <input id="id_enddate_1" class="vTimeField" name="enddate_1" size="8" type="text" onblur="switchTime(this.form)" /> example: 09:00 or 21:00</p>
                        </div>
                    </div>
                </fieldset>
                <div id="CalendarDiv" class="overlay"> </div>
                <fieldset class="module aligned ">
                    <h2>Informations</h2>

                    <div  style="visibility: hidden;">
                        <div>
                            <label for="id_title" class="required">Title:</label>
                            <input id="id_title" type="text"name="title" maxlength="40" value="booking" />
                        </div>
                    </div>
                    <div class="form-row body">
                        <div>
                            <label for="id_body" class="required">Extra Information:</label>
                            <textarea id="id_body" rows="10" cols="40" name="body" class="vLargeTextField" wrap="pyhsical"></textarea>
                        </div>
                    </div>
                </fieldset>
                <div class="submit-row" >
                    <input type="submit" value="Complete the Reservation" class="submit" name="_save" />
                </div>
                <input type="hidden" name="countEquip" id="countEquip" />
            </div>
        </form></div>
    <br class="clear" />
    {% endif %}
</div>

<script language="JavaScript"
        type="text/javascript">
            <!--

            function showEquiptments(str) {
                document.getElementById('overLay').style.visibility = "hidden";
                document.getElementById(str).style.visibility = "visible";

            }
            function setEquiptment(id,name,str,output,outputName){
                document.getElementById(output).value=id;
                document.getElementById(str).style.visibility = "hidden";
		document.getElementById(outputName).value=name;
            }
            function cancelOverlay(str){
                document.getElementById(str).style.visibility = "hidden";
            }
            // -->
</script>

<!-- END Content -->
{% endblock %}
