{% extends "base.html" %}

{% block title %}Kalendar{% endblock %}


{% block content %}
<style type="text/css">
    h1{  margin-left:270px;}
    .tab {margin:30px;}
    .month { width: 80px; float: left;margin: 2px; padding: 3px;
             border:2px ridge #000000; -moz-border-radius:5px; padding:5px; text-decoration:none; color:#000000;}
    .month:hover{ border-style:solid; }
    .month a { text-decoration: none; margin: 4px; color:#000000;}
    .month a:visited {text-decoration: none; margin: 4px; color:#000000; }
    .clear { clear: both; }
    .current {width: 80px; float: left; margin: 2px; padding: 3px; background: #eeeec8;
              border:2px ridge #000000; -moz-border-radius:5px; padding:5px; text-decoration:none; color:#000000; font-weight:bolder;}
    .current a { text-decoration: none; margin: 4px; color:#000000; }
    .current a:visited {text-decoration: none; margin: 4px; color:#000000; }
    .current:hover{ border-style:solid; }
</style>
<title>Add entry | B110 Booking Software</title>

<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/Users/Yannic/PycharmProjects/bookingCal/static/admin/css/ie.css" /><![endif]-->

<!--<script type="text/javascript" src="../../../jsi18n/"></script>-->
<script type="text/javascript" src="/booking/static/admin/js/core.js"></script>
<script type="text/javascript" src="/booking/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/booking/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/booking/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/booking/static/admin/js/actions.min.js"></script>
<script type="text/javascript" src="/booking/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/booking/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript">
          


	function loseFocus()
	{ 
		document.getElementById("id_date_0").blur();
		document.getElementById("id_enddate_0").blur();
	}
	
        function switchTime(frm)
        {
                if(frm.date_1.value > "24:00")
                        alert("The Day has only 24 hours!")
                else if(frm.date_1.value == "24:00")
                        frm.date_1.value = "00:00"
                if(frm.date_1.value > "24:00")
                        frm.date_1.value = ""
                if(frm.enddate_1.value > "24:00")
                        alert("The Day has only 24 hours!")
                else if(frm.enddate_1.value == "24:00")
                        frm.enddate_1.value = "00:00"
                if(frm.enddate_1.value > "24:00")
                        frm.enddate_1.value = ""
        }



        function checkDate(frm)
	{
		if(frm.date_0.value == "2012-04-10")
			alert("Das war schon!")
	}
		

		    function pluseqi(name,id){
//              alert(id);
                dropBox = document.getElementById("id_equipment_name");
                var drop = (dropBox.options.length);
                var TheTextBox = document.getElementById("id_eqilist");
                TheTextBox.value = TheTextBox.value + name;
                var selectBox = document.getElementById("id_eqilist2");
                addOption(selectBox,name,name,id, drop);


        }

        function addOption(selectbox,text,value,id, drop ){
                var optn = document.createElement("OPTION");
                optn.text = text;
                optn.id = id;
                optn.value = value;
                var wert = value;
                putIn="True";
                for(var i = 0; i < selectbox.length; i++)
                 {
                    if(selectbox.options[i].value == value){
                    putIn="False";
                    alert(putIn);
                    }
                 }
                if(putIn=="True"){
                selectbox.options.add(optn);
		if(document.getElementById("id_equipment").value ==""){
                document.getElementById("id_equipment").value= document.getElementById("id_equipment").value + id;}
                else{
                document.getElementById("id_equipment").value= document.getElementById("id_equipment").value + "," + id;
                }
}
}
	function myDelete(){
		var i = document.getElementById("id_eqilist2").length;
	        //alert (i);	
		var eqiIdTextbox = document.getElementById("id_equipment").value;
		//var spliting = eqiIdTextbox.split(",",3);
		//alert(spliting);
		document.getElementById("id_eqilist2")[document.getElementById("id_eqilist2").length - 1] = null;
		var i = document.getElementById("id_eqilist2").length;
		var spliting = eqiIdTextbox.split(",",i);
                document.getElementById("id_equipment").value = spliting;


	}

</script>

<div id="content">

    <h1>Add entry</h1>
    <div id="content-main">
        <form action="/booking/kalendar/new/dbadd/" method="post" accept-charset="utf-8" onsubmit="return FornCheck(this);"  id="entry_form">{% csrf_token %}
            <div style='display:none'>
                <input type='hidden' name='csrf'  /></div>
            <div>

                {% if error_message %}
                <div class="error">
                    <table>
                        <tr>
                            <td>
                                <img src="/booking/static/main/symbol-error.png" height="50px;">
                            </td>
                            <td>
                                <pre>{{ error_message }} </pre>
                                <br/>


                            </td>
                        </tr>
                    </table>
                </div>
                <a href="javascript:history.back()" class="errorBackButton">Go back</a>
                {% else %}
		<fieldset class="module aligned ">
                    <h2>Equipment
                                               </h2>
                    <div class="form-row equipment">
                        <div>
                            <label for="id_equipment" class="required">Equipment:</label>
                            <select name="equipment_name"  id="id_equipment_name"  />
                            <div class="equipOverlay" id="overLay">

                                    {% for entry in entries %}

                                    <option id="entryTD"  onclick="pluseqi('{{entry.name}}',{{ entry.id }}),this.select"; onclick="setEquiptment({{ entry.id }},'{{ entry.name }}','overLay','id_equipment','id_equipment_name')" >
                                        {{ entry.name }}
                                    </option>

                                    {% empty %}

                                    {% endfor %}
                                    <input type="hidden" name="eqi_list" id="id_eqilist" value=""></input>
                                     <select name="eqilist2" id="id_eqilist2" size="5" style=width:150px>
                                    </select>
				    <input type="button" name="delete" id="id_deletebutton" value="Delete" onclick="myDelete(this.id)"></input>
                            </div>
                            <input type="hidden" name="equipment" id="id_equipment"/>
                        </div>
                    </div>

                                   </fieldset>
                <input type="radio" value="forlabmem" name="forwho" checked="checked" hidden onclick="firstname.disabled=true;lastname.disabled=true;email.disabled=true"/>
                {% if admin %}
                 <fieldset class="module aligned ">
                        <div id="content">


		


                   <h2>Guest Booking</h2>

                   <h3>Guest Booking</h3>
        <table>
           
            <tr>
                <td>    <lable for="forguest">for Guest </lable>
 		
			<input type="radio" value="forguest" name="forwho" onclick="firstname.disabled=false;lastname.disabled=false;email.disabled=false"></td>
		<td>
                        <lable for="forlabmem">for B110 Labmember </lable>
                
                        <input type="radio" value="forlabmem" name="forwho" checked="checked" onclick="firstname.disabled=true;lastname.disabled=true;email.disabled=true"/></td>

            </tr>
            <tr>
                <td width="100px">
                    <label for="firstname">First name </label>
                </td>
                <td>
                    <input type="text" name="firstname"  id="firstname" disabled = false  />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="lastname">Last name</label>
                </td>
                <td><input type="text" name="lastname"  id="lastname" disabled = false />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">E-mail</label>
                </td>
                <td>
                    <input type="text" name="email"  id="mail" disabled = false />
                </td>
            </tr>
        </table>

			</div>
 	</fieldset>
	{% endif %}
                <fieldset class="module aligned ">
                    <h2>Date information</h2>
                    <div class="form-row date">
                        <div>
                            <label for="id_date_0" class="required">Date:</label>
                            <p class="datetime">Date: <input name="date_0" class="vDateField" id="id_date_0" size="10" style="background:#F0F0F0" type="text" onchange="checkDate(this.form)" onclick="loseFocus()">

                                <br>Time: <input name="date_1" id="id_date_1" class="vTimeField"  size="8" type="text" onblur="switchTime(this.form)" /> example: 09:00 or 21:00</p>
                        </div>
                    </div>
                    <div class="form-row enddate">
                        <div>
                            <label for="id_enddate_0" class="required">Enddate:</label>
                            <p class="datetime">Date: <input id="id_enddate_0" class="vDateField" name="enddate_0" size="10" style="background:#F0F0F0" type="text"  onclick="loseFocus()">

                                <br>Time: <input id="id_enddate_1" class="vTimeField" name="enddate_1" size="8" type="text" onblur="switchTime(this.form)" /> example: 09:00 or 21:00</p>
                        </div>
                    </div>
                </fieldset>
                <div id="CalendarDiv" class="overlay"> </div>
                <fieldset class="module aligned ">
                    <h2>Informations</h2>

                    <div  style="visibility: hidden;">
                        <div>
                            <label for="id_title" class="required">Title:</label>
                            <input id="id_title" type="text"name="title" maxlength="40" value="booking" />
                        </div>
                    </div>
                    <div class="form-row body">
                        <div>
                            <label for="id_body" class="required">Extra Information:</label>
                            <textarea id="id_body" rows="10" cols="40" name="body" class="vLargeTextField" wrap="pyhsical"></textarea>
                        </div>
                    </div>
                </fieldset>
                <div class="submit-row" >
                    <input type="submit" value="Complete the Reservation" class="submit" name="_save" />
                </div>
		                <input type="hidden" name="countEquip" id="countEquip" />
            </div>
        </form></div>
    <br class="clear" />
    {% endif %}
</div>

<script language="JavaScript"
        type="text/javascript">
            <!--

            function showEquiptments(str) {
                document.getElementById('overLay').style.visibility = "hidden";
                document.getElementById(str).style.visibility = "visible";

            }
            function setEquiptment(id,name,str,output,outputName){
                document.getElementById(output).value=id;
                document.getElementById(str).style.visibility = "hidden";
		document.getElementById(outputName).value=name;
            }
            function cancelOverlay(str){
                document.getElementById(str).style.visibility = "hidden";
            }
            // -->
</script>

<!-- END Content -->
{% endblock %}
