{% extends "base.html" %}

{% block title %}Kalendar{% endblock %}


{% block content %}
<script type="text/javascript">

    function FornCheck(form)
    {
        var first = form.firstname.value;
        var last = form.lastname.value;
        var mail = form.mail.value;

if (first == "") {
            document.form.firstname.focus();
            return false ;
        }
        if (last == "") {
            document.form.lastname.focus();
            return false ;
        }
        if (mail == "") {
            document.form.mail.focus();
            return false ;
        }
            return true;
       
    }

</script>
<style type="text/css">
    h1{  margin-left:270px;}
    .tab {margin:30px;}
    .month { width: 80px; float: left;margin: 2px; padding: 3px;
             border:2px ridge #000000; -moz-border-radius:5px; padding:5px; text-decoration:none; color:#000000;}
    .month:hover{ border-style:solid; }
    .month a { text-decoration: none; margin: 4px; color:#000000;}
    .month a:visited {text-decoration: none; margin: 4px; color:#000000; }
    .clear { clear: both; }
    .current {width: 80px; float: left; margin: 2px; padding: 3px; background: #eeeec8;
              border:2px ridge #000000; -moz-border-radius:5px; padding:5px; text-decoration:none; color:#000000; font-weight:bolder;}
    .current a { text-decoration: none; margin: 4px; color:#000000; }
    .current a:visited {text-decoration: none; margin: 4px; color:#000000; }
    .current:hover{ border-style:solid; }
</style>

<div class="tab">
    <h3>Guest Login</h3>
    <form action="/kalendar/new/guestReg/" method="post" name ="form" accept-charset="utf-8" onsubmit="return FornCheck(this);">{% csrf_token %}
        <table>
            <tr>
                <td width="100px">
                    <label for="firstname">First name </label>
                </td>
                <td>
                    <input type="text" name="firstname"  id="firstname" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="lastname">Last name</label>
                </td>
                <td><input type="text" name="lastname"  id="lastname" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">E-mail</label>
                </td>
                <td>
                    <input type="text" name="email"  id="mail" />
                </td>
            </tr>
        </table>

    </form>
</div>



{% endblock %}
