{% extends "base.html" %}

{% block title %}Booking System{% endblock %}

{% block content %}

<style type="text/css">

    h2 { text-align: left; margin-left: 50px; font-size:22px; }

    .inp1 { cursor: pointer;font-size:15px; width: 400px; float:left; border:2px ridge #cccccc; padding:10px; -moz-border-radius:5px; border-radius: 5px 5px 5px 5px;}
    .inp1:hover{ border-style:solid; }
    .inp1 a:visited{ text-decoration:none;}
    .inp1 a{text-decoration:none; color:#000000;}
    .inp1 a:hover{ text-decoration:none; font-weight:bold;}
    .inp1 td{padding:5px;}
    .inp1 .title { padding-right: 20px; vertical-align: top;}
    
    .inp2 {cursor: pointer; width:400px; font-size:15px; width: 400px; float:left; border:2px ridge #cccccc; padding:10px; -moz-border-radius:5px; border-radius: 5px 5px 5px 5px;}
    .inp2:hover{ border-style:solid; }
    .inp2 a:visited{ text-decoration:none;}
    .inp2 a{text-decoration:none; color:#000000;}
    .inp2 a:hover{ text-decoration:none; font-weight:bold;}
    .inp2 td{padding:5px;}
    .inp2 .title { padding-right: 20px;   vertical-align: top;}

</style>

<div id="mainly">

    <h2> Your History</h2>


    {% for entry in entries %}
    {% with "" as msg %}
    <div class="{% cycle 'inp1' 'inp2' %}"
         onClick="parent.location='{% url ecalendar.views.change entry.id %}'"
         title='Click to edit this booking'>
        {% endwith %}
        <table>
<!--            <tr>
                <td class="title"><b>Title:</b> </td>
                <td>{{ entry.title }}    </td>
            </tr>-->
            <tr>
                <td class="title"><b>Equipment:</b></td>
                <td>{{ entry.equipment.name }}</td>
            </tr>
            <tr>
                <td class="title"><b>Start date</b></td>
                <td>{{ entry.date }}</td>
            </tr>
	   {% if admin %}
	   {% if entry.guest_id != 0 %}
	    <tr>
		<td class="title"><b>Guest Name:</b></td>
		<td>{{entry.guest.firstname}}{{entry.guest.surname}}</td>
	   </tr>
	   {%endif%}
	   {%if entry.guest_id == 0%}
	    <tr> 
                <td class="title"><b>Guest Name:</b></td>
                <td>{{"-"}}</td>
           </tr>
           {%endif%}
	   {%endif%}
            <tr>
                <td class="title"><b>End date</b></td>
                <td>{{ entry.enddate }}</td>
            </tr>
            <tr>
                <td class="title"><b>Extra Information</b></td>
                <td>
                   <textarea id="id_body"  rows="7"cols="30" readonly="readonly" name="body" wrap="soft" style=" border: none"> {{ entry.body }}</textarea>
                </td>
            </tr>
        </table>


    </div>
</a>

{% empty %}
No Entry today   <br />

{% endfor %}

</div>




{% endblock %}
