{% extends "base.html" %}

{% block title %}LIBS{% endblock %}

{% block content %}
<style type="text/css">
    h1{  margin-left:270px;}
    .tab {margin:30px;}
    .month { width: 80px; float: left;margin: 2px; padding: 3px;
             border:2px ridge #000000; -moz-border-radius:5px; padding:5px; text-decoration:none; color:#000000;}
    .month:hover{ border-style:solid; }
    .month a { text-decoration: none; margin: 4px; color:#000000;}
    .month a:visited {text-decoration: none; margin: 4px; color:#000000; }
    .clear { clear: both; }
    .current {width: 80px; float: left; margin: 2px; padding: 3px; background: #eeeec8;
              border:2px ridge #000000; -moz-border-radius:5px; padding:5px; text-decoration:none; color:#000000; font-weight:bolder;}
    .current a { text-decoration: none; margin: 4px; color:#000000; }
    .current a:visited {text-decoration: none; margin: 4px; color:#000000; }
    .current:hover{ border-style:solid; }
</style>
<title>Add entry | B110 Booking Software</title>

<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/Users/Yannic/PycharmProjects/bookingCal/static/admin/css/ie.css" /><![endif]-->



<div id="content">

    <h1>Add entry</h1>

    <b>The reservation has been completed.</b>

    
    <meta http-equiv="refresh" content="2; URL={% url ecalendar.views.month year month %}">


</div>


<!-- END Content -->
{% endblock %}
