{% extends "base.html" %}

{% block title %}Kalendar{% endblock %}

{% block content %}
    <style type="text/css">
     h1{  margin-left:350px;}
        .current {
            width: 112px; border: 1px solid #cccccc; margin: 2px; padding: 3px;
            height: 50px; background: #eeeec8; cursor: pointer;
            }
        .day {
            width: 112px; border: 1px solid #cccccc; margin: 2px; padding: 3px;
            height: 50px; cursor: pointer;
            }
        .empty { width: 112px; border: 1px solid #cccccc; margin: 2px; padding: 3px; }
        .header { width: 112px; border: 1px solid #cccccc; margin: 2px; padding: 3px; font-size:20px; text-align:center; font-family:"'Courier New'";}
        .day a { text-decoration: none; margin: 4px; }
        .clear { clear: both; }
        .daytitle{text-align:center; font-family:"'Courier New'"; font-size:15px; }
        .entry{ margin-top:0px;margin-bottom:0px; font-family:Verdana; font-weight:lighter;}
        .prev {  border:2px ridge #000000; -moz-border-radius:5px; border-radius: 5px 5px 5px 5px;padding:5px; text-decoration:none; color:#000000; font-weight:bolder; }
        .prev:hover{ border-style:solid; }
        .next { border:2px ridge #000000; -moz-border-radius:5px; border-radius: 5px 5px 5px 5px;padding:5px; text-decoration:none; color:#000000; font-weight:bolder; }
        .next:hover{ border-style:solid; }
    </style>
    <br />

    <div class="main">
    <a class="prev" href= "{% url ecalendar.views.month year month "prev" %}">&lt;&lt; Prev</a>
    <a class="next" href= "{% url ecalendar.views.month year month "next" %}">Next &gt;&gt;</a>
                              <br />   <br />
    <h1>{{ mname }} {{ year }}</h1>

    <div class="month">
        <table>

        <tr>
            <td class="header">Mon</td>
            <td class="header">Tue</td>
            <td class="header">Wed</td>
            <td class="header">Thu</td>
            <td class="header">Fri</td>
            <td class="header">Sat</td>
            <td class="header">Sun</td>
        </tr>

        {% for week in month_days %}
            <tr>
            {% for day, entries, current in week %}

                <!-- TD style: empty | day | current; onClick handler and highlight  -->
                <td class= {% if day == 0 %}"empty"{% endif %}
                {% if day != 0 and not current %}"day"{% endif %}
                {% if day != 0 and current %}"current"{% endif %}
                 {% if day != 0 %}
                    onClick="parent.location='{% url ecalendar.views.day year month day %}'"
                    onMouseOver="this.bgColor='#eeeeee';"
                    onMouseOut="this.bgColor='ffffff';"
                {% endif %} title='Click to view'>

                <!-- Day number and entry snippets -->
                {% if day != 0 %}
                   <b class="daytitle"> {{ day }} </b>
                    {% for entry in entries %}

                        <p class="entry">
                        {{ entry.title }}
                        </p>
                    {% endfor %}
                {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>

        <div class="clear"></div>
    </div>
    </div>
{% endblock %}
