{% extends "base.html" %}

{% block title %}Kalendar{% endblock %}

{% block content %}
<!--  <script type="text/javascript" src="/static/main/js/jquery-1.5.1.min.js"></script>
-->
<style type="text/css">
    h1{  margin-left:350px;}
    .current {
        width: 112px; border: 1px solid #cccccc; margin: 2px; padding: 3px;
        height: 50px; background: #eeeec8; cursor: pointer;
    }
    .day {
        width: 112px; border: 1px solid #cccccc; margin: 2px; padding: 3px;
        height: 50px; cursor: pointer;
    }
    .empty { width: 112px; border: 1px solid #cccccc; margin: 2px; padding: 3px; }
    .header { width: 112px; border: 1px solid #cccccc; margin: 2px; padding: 3px; font-size:20px; text-align:center; font-family:"'Courier New'";}
    .day a { text-decoration: none; margin: 4px; }
    .clear { clear: both; }
    .daytitle{text-align:center; font-family:"'Courier New'"; font-size:15px; }
    .entry{ margin-top:0px;margin-bottom:0px; font-family:Verdana; font-weight:lighter;}
    .prev {  border:2px ridge #000000; -moz-border-radius:5px; border-radius: 5px 5px 5px 5px;padding:5px; text-decoration:none; color:#000000; font-weight:bolder; }
    .prev:hover{ border-style:solid; }
    .next { border:2px ridge #000000; -moz-border-radius:5px; border-radius: 5px 5px 5px 5px;padding:5px; text-decoration:none; color:#000000; font-weight:bolder; }
    .next:hover{ border-style:solid; }
</style>
<br />
<script type="text/javascript">
function loseFocus()
        {
        	
	        document.getElementById("id_equipment_name").blur();
        }

</script>
<div class="main">
    <table>
        <tr>
            <td width="80px">
                <a class="prev" href= "{% url ecalendar.views.month year month "prev" %}">&lt;&lt; Prev</a>
            </td>
            <td width="100px" align="left" >
                <a class="next" href= "{% url ecalendar.views.month year month "next" %}">Next &gt;&gt;</a>
            </td>
            <td>
                <a class="back" href="{% url ecalendar.views.month year month %}"  id="back_id" hidden > &lt;&lt; back to month </a>
            </td>
            <td>

               Choose a Equipment:  <input type="text" value="{{ equipmentName }}" onkeyup="searchEquip(this.value,{{ year }},{{ month }})" size="15" name="equipment_name" id="id_equipment_name" onclick="loseFocus()" style="background:#F0F0F0"  />
                <a href="javascript:showEquiptments()" class="related-lookup" id="lookup_id_equipment">
                    <img src="/static/admin/img/admin/selector-search.gif" width="16" height="16" alt="Lookup" /></a>
                <a href="{% url ecalendar.views.month year month %}">
		    <img src="/static/admin/img/admin/icon_deletelink.gif"  alt="reset" /></a>
                <div class="equipOverlay" id="overLay">
                    <table>
                        <tr class="entryHead">
                            <td colspan="3"><b>Choose a Equipment</b></td>
                        </tr>
                        <tr class="entryUnderHead">
                            <th>Name</th>
                            <th>Room</th>
                            <th>Description</th>
                        </tr>
                        {% for entry in equipment %}
                        <tr id="entryTD" class="entryTD" onMouseOver="setEquiptment({{ entry.id }},'{{ entry.name }}')" onclick="clickEquiptment({{ year }},{{ month }},{{ entry.id }})" style="cursor:pointer">
                            <td>{{ entry.name }}</td>
                            <td>{{ entry.room }}</td>
                            <td>{{ entry.desc }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3">no Entry   </td>
                        </tr>
                        {% endfor %}

                        <tr class="entryCancel"  >
                            <td colspan="6" onclick="cancelOverlay()" ><b style="cursor:pointer">Cancel</b></td>
                        </tr>
                    </table>
                </div>
                <div class="equipSearch" id="equipSearch">
                    <!--                    Suchergebnisse-->
                    
                </div>

            </td>
        </tr>
    </table>
    <br />   <br />
    <h1>{{ mname }} {{ year }}</h1>

    <div class="month">
        <table>

            <tr>
                <td class="header">Mon</td>
                <td class="header">Tue</td>
                <td class="header">Wed</td>
                <td class="header">Thu</td>
                <td class="header">Fri</td>
                <td class="header">Sat</td>
                <td class="header">Sun</td>
            </tr>

            {% for week in month_days %}
            <tr>
                {% for day, entries, current in week %}

                <!-- TD style: empty | day | current; onClick handler and highlight  -->
                <td class= {% if day == 0 %}"empty"{% endif %}
                    {% if day != 0 and not current %}"day"{% endif %}
                    {% if day != 0 and current %}"current"{% endif %}
                    {% if day != 0 %}
                    onClick="parent.location='{% url ecalendar.views.day year month day %}'"
                    onMouseOver="this.bgColor='#eeeeee';"
                    onMouseOut="this.bgColor='ffffff';"
                    {% endif %} title='Click to view'>

                    <!-- Day number and entry snippets -->
                    {% if day != 0 %}
                    <b class="daytitle"> {{ day }} </b>
                    {% for entry in entries %}

                    <p class="entry">
                        {{ entry.equipment.name }}
                    </p>
                    {% endfor %}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <div class="clear"></div>
        <div id="ajax"></div>
    </div>
</div>
<script language="JavaScript"
        type="text/javascript">
            <!--
            function showEquiptments() {
                document.getElementById("overLay").style.visibility = "visible";
                document.getElementById("equipSearch").style.visibility = "hidden";

            }
            function setEquiptment(id,name){
                //                document.getElementById("overLay").style.visibility = "hidden";
                document.getElementById("id_equipment_name").value=name;
            }
            function clickEquiptment(year,month,id){

                hreflink="/booking/kalendar/month/"
                hreflink=hreflink.concat(year);
                hreflink=hreflink.concat("/");
                hreflink=hreflink.concat(month);
                hreflink=hreflink.concat("/sort/");
                hreflink=hreflink.concat(id);
                //                alert(hreflink)

                document.location.href=hreflink;
                document.getElementById("overLay").style.visibility = "hidden";
                document.getElementById("equipSearch").style.visibility = "hidden";
            }
	    function backCalendar(year,month,id){

                hreflink="/booking/kalendar/month/"
                hreflink=hreflink.concat(year);
                hreflink=hreflink.concat("/");
                hreflink=hreflink.concat(month);
                //                alert(hreflink)

                document.location.href=hreflink;
                document.getElementById("overLay").style.visibility = "hidden";
                document.getElementById("equipSearch").style.visibility = "hidden";
            }

            function cancelOverlay(){
		document.getElementById("id_equipment_name").value = '';
                document.getElementById("overLay").style.visibility = "hidden";
                document.getElementById("equipSearch").style.visibility = "hidden";
            }


            function searchEquip(str,year,month) {
                document.getElementById("overLay").style.visibility = "hidden";
                document.getElementById("equipSearch").style.visibility = "visible";
                //var dataIn = ${ 'name': str }.serializeArray();
		var dataIn=(str);
		// alert(dataIn);

//var args= { type:'POST', url:'/kalendar/ajax_search_equip/', data:'t', success:function(data) {   alert('test'); }};
var args= { type:'POST', url:'/kalendar/ajax_search_equip/', data:dataIn,   cache: false,dataType: "json",timeout: 5000, success:function(data) {                                                                                                             
                        alert("endlich");                                                                                                                                                                                                                                     
                        $('#equipSearch').empty();                                                                                                                                                                                                                            
                        var html= '<table><tr class="entryHead"><td colspan="3"><b>Choose a Equipment</b></td></tr><tr class="entryUnderHead"><th>Name</th><th>Room</th><th>Description</th></tr>';                                                                           
                        if (data.length>0){                                                                                                                                                                                                                                   
                            $.each(data,function(entryIndex, entry){                                                                                                                                                                                                          
                               html +='<tr id="entryTD" class="entryTD" onMouseOver="setEquiptment(';                                                                                                                                                                         
                               html+=entry['pk'];                                                                                                                                                                                                                             
                               html+=',';                                                                                                                                                                                                                                     
                               html+=entry.fields['name'];                                                                                                                                                                                                                    
                               html+=')" ';                                                                                                                                                                                                                                   
                               html+='onclick="clickEquiptment(';                                                                                                                                                                                                             
                               html+= year;                                                                                                                                                                                                                                   
                               html+=',';                                                                                                                                                                                                                                     
                               html+=month;                                                                                                                                                                                                                                   
                               html+=',';                                                                                                                                                                                                                                     
                               html+=entry['pk'];                                                                                                                                                                                                                             
                               html+=')" style="cursor:pointer">';                                                                                                                                                                                                            
                               html+='<td>';                                                                                                                                                                                                                                  
                               html+=entry.fields['name'];                                                                                                                                                                                                                    
                               html+='</td>';                                                                                                                                                                                                                                 
                               html+="<td>";                                                                                                                                                                                                                                  
                               html+=entry.fields['room'];                                                                                                                                                                                                                    
                               html+='</td>';                                                                                                                                                                                                                                 
                               html+='<td>';                                                                                                                                                                                                                                  
                               html+=entry.fields['desc'];                                                                                                                                                                                                                    
                               html+='</td></tr>';                                                                                                                                                                                                                            
                             alert(html);                                                                                                                                                                                                                                     
                             });                                                                                                                                                                                                                                              
                        }else{                                                                                                                                                                                                                                                
                            html+='<tr class="entryTD" class="entryTD" ><td colspan="3"><center><b>No Equipment found</b></center></td></tr>';                                                                                                                                
                        }                                                                                                                                                                                                                                                     
                        html +='<tr class="entryCancel"><td colspan="3" onclick="cancelOverlay()" ><b style="cursor:pointer">Cancel</b></td></tr>';                                                                                                                           
                        $('#equipSearch').append(html);                                                                                                                                                                                                                       
                    }};                                                                                                                                                                                                                                                       
                            
		  $.ajax(args);
            }

            // -->
</script>
{% endblock %}

