{% extends "base.html" %}
{% block title %}Kalendar{% endblock %}
{% block content %}
<style type="text/css">
    h1{  margin-left:270px;}
    .tab {margin:30px;}
    .clear { clear: both; }

</style>
<div class="tab">
    <h3>Login</h3>
    <form action="/booking/kalendar/new/check/" method="post" accept-charset="utf-8">{% csrf_token %}
        <table>
            <tr>
                <td width="100px">
                    <label for="username">Username</label>
                </td>
                <td>
                    <input type="text" name="username" value="" id="username" /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Password</label>
                </td>
                <td>
                    <input type="password" name="password" value="" id="password" />
                </td>
            </tr>
        </table>
        <p><input type="submit" value="Login ->" /></p>
    </form>
    <a href="/kalendar/guest">Guest login</a>
</div>
{% endblock %}
