<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="/booking/static/main/css/baseMain.css" rel="stylesheet" type="text/css">
       <link href="/booking/static/admin/css/base.css" rel="stylesheet" type="text/css">

        <script type="text/javascript" src="/booking/static/main/js/jquery-1.5.1.min.js"></script>
	<style type="text/css">
	#header {
		{% if user.username == "kochmax" %}
		background: right #FF419B url(/booking/static/main/header-hk.png) no-repeat;
		{% else %}
		background: right #417690 url(/booking/static/main/header-{% now "m" %}.png) no-repeat;
		{% endif %}
		}
	</style>
<!-- image sources:
01 CC-BY    http://www.flickr.com/photos/31726799@N05/2970643412/
02 CC-BY    http://www.flickr.com/photos/jazonz/3229890844/
03 CC-BY    http://www.flickr.com/photos/aunto/3478678898/
04 CC-BY    http://www.flickr.com/photos/vietnamfriendly/2408955764/
05 CC-BY    http://www.flickr.com/photos/martin_nikolaj/4660218433/
06 CC-BY-SA http://www.flickr.com/photos/forestwander-nature-pictures/5788311733/
07 CC-BY-SA http://www.flickr.com/photos/forestwander-nature-pictures/5788311733/
08 CC-BY-SA http://www.flickr.com/photos/afroboof/5797448867/
09 CC-BY-SA http://www.flickr.com/photos/afroboof/5797448867/
10 CC-BY    http://www.flickr.com/photos/so_cool13/3060093935/
11 CC-BY    http://www.flickr.com/photos/so_cool13/3060093935/
12 CC-BY    http://www.flickr.com/photos/summerlovin/4171678797/
-->
            <title>{% block title %} {% endblock %}</title>
    </head>
    <body>

        <div id="container">
            <div id="header">
                <h1> B110 LIBS <!--{% if context %} from
                {{ user.first_name }} {{ user.last_name }}
                {% endif %}</h1>-->
            </div>

            <div class="menu">
                <a href="/booking/">Home </a>
                <a href="/booking/kalendar/">Calendar</a>
                <a href="/booking/equipment/">Equipment</a>
                {% if context  %}
                <a href="/booking/kalendar/new">Add Entry</a>
                <a class="hidden" href="/booking/kalendar/history">Your History </a> &nbsp;
                <a class="hidden" href="/booking/kalendar/logout">Logout </a>

                {% else %}
                <a href="/booking/kalendar/new">Login</a>
                {% endif %}

                {% block menu %} {% endblock %}
	<!--	{% if context %}
		Logged in as {{ user.first_name }} {{ user.last_name }}
		{% endif %}-->
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
