
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Startseite</title>
</head>
{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
    <h1>Welcome to the Reservation management system of the Division B110</h1>
    <pre>
A guide to use of the applications can be found at the wiki.
Or just click <a href="http://b110-xserve3/wiki/display/bioinformatics/Reservation+Management+System" >here</a>.

    </pre>
   
 <img src="/booking/static/main/reserved.jpg">
{% endblock %}

</html>
